.section1 {
	background-color:#999999;
}
.section2 {
	background-color:#555555 ;
}
.section3 {
	background-color:#333333 ;
}
.section4 {
	background-color:#111111 ;
}

.card .card-img-top{
	border-radius:0;
}
.card {
	border: 0;
}